<div class="container">
  <div class="row">
    <h3 class="col-9">お知らせ一覧</h3>
  </div>
  <div class="row">
    <table class="col-10 text-center m-3">
      <thead>
        <tr class="table-secondary">
          <td>投稿日時</td>
          <td>件名</td>
        </tr>
      </thead>
      <tbody>
        <% @posts_true.each do |post_true| %>
          <tr>
            <td><%= post_true.updated_at.strftime("%Y/%m/%d  %H:%M") %></td>
            <td><%= link_to post_true.name, post_path(post_true.id) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="row justify-content-center">
    <%= paginate @posts_true %>
  </div>
</div>