<div class="container">
  <div class="col text-center my-5">
    <div class="h4 font-weight-bold my-4">本当に退会しますか？</div>
    <p class="col">
      退会すると、会員登録情報や<br>
      お気に入り一覧が閲覧できなくなります。<br>
      退会する場合は、「退会する」をクリックしてください。
    </p>
    <div class="col">
      <%=link_to "退会しない", user_path(current_user.id), class: "mx-3 btn btn-primary btn-sm" %>
      <%=link_to "退会する", withdraw_path, method: :patch, data:{confirm: "本当に退会しますか？"}, class: "mx-3 btn btn-danger btn-sm" %>
    </div>
  </div>
</div>